/*@import "http://webfonts.ru/import/fregat.css"; */

@font-face {
			font-family: "Fregat";
			src: url("/fonts/FregatRegular/FregatRegular.eot");
			src: url("/fonts/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
			url("/fonts/FregatRegular/FregatRegular.woff") format("woff"),
			url("/fonts/FregatRegular/FregatRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Fregat";
			src: url("/fonts/FregatBold/FregatBold.eot");
			src: url("/fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
			url("/fonts/FregatBold/FregatBold.woff") format("woff"),
			url("/fonts/FregatBold/FregatBold.ttf") format("truetype");
			font-style: normal;
			font-weight: bold;
	}

	@font-face {
			font-family: "Fregat2";
			src: url("/fonts/FregatItalic/FregatItalic.eot");
			src: url("/fonts/FregatItalic/FregatItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/FregatItalic/FregatItalic.woff") format("woff"),
			url("/fonts/FregatItalic/FregatItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: normal;
	}

	@font-face {
			font-family: "Fregat3";
			src: url("/fonts/FregatBoldItalic/FregatBoldItalic.eot");
			src: url("/fonts/FregatBoldItalic/FregatBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("/fonts/FregatBoldItalic/FregatBoldItalic.woff") format("woff"),
			url("/fonts/FregatBoldItalic/FregatBoldItalic.ttf") format("truetype");
			font-style: italic;
			font-weight: bold;
	}

html, body {padding:0px; margin:0px; color:#000; font-size:12pt; font-family:  'Fregat', Tahoma, Geneva, sans-serif; background:none;}
p {padding:0px; margin:0 0 10px 0;}
input:focus {outline:none;}
textarea:focus {outline:none;}
select:focus {outline:none;}
::-webkit-input-placeholder {color:rgba(0,0,0,.6);}
::-moz-placeholder          {color:rgba(0,0,0,.6);}
:-moz-placeholder           {color:rgba(0,0,0,.6);}
:-ms-input-placeholder      {color:rgba(0,0,0,.6);}

h1 {display:block; padding:20px 0; color:#008DD2; font-weight:bold; font-size:33pt; margin:0px; text-align:center; text-transform:uppercase;}
h2 {display:block; padding:0px; color:#000; font-weight:bold; font-size:38pt; margin:0px; text-align:left; text-transform:uppercase;}
h3 {display:block; padding:10px 0; color:#000; font-weight:bold; font-size:15pt; margin:0px; text-align:center; text-transform:uppercase;}

h4 {display:block; padding:5px 0; color:#008DD2; font-weight:bold; font-size:18pt; margin:0px; text-align:center; text-transform:uppercase;}
h5 {display:block; padding:5px; color:#008DD2; font-weight:bold; font-size:24pt; margin:0px; text-align:left; text-transform:uppercase;}
h6 {display:block; padding:5px 0; color:#000; font-weight:bold; font-size:18pt; margin:0px; text-align:center; text-transform:uppercase;}

a {
	text-decoration:none; color:#008DD2; 
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;}
	
a:hover {
	text-decoration:underline;
	color:#008DD2;
	}
	
#footer a {display:inline-block; margin-right:20px;
text-decoration:none; color:#999; font-size:11pt;}

#footer a:hover {display:inline-block; margin-right:20px;
text-decoration:none; color:#008DD2; font-size:11pt;}
	
.bg {
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
.top span {color:#008DD2;}
.top .logo {display: block;
height: 37px;
line-height: 46px;
text-decoration: none;
color: #434242;
font-size: 24pt;
font-weight: bold;
background: url(img/logo.png) right center no-repeat;
width: 217px;}
.top .logo:hover {text-decoration:none; color:#434242;}

a.top_menu {margin-right:20px; font-size:12pt; color:#000; text-decoration:none; display:inline-block;}
a.top_menu_a {margin-right:20px; font-size:12pt; color:#008DD2; text-decoration:none; display:inline-block;}
a.top_menu_a:hover {margin-right:20px; font-size:12pt; color:#008DD2; text-decoration:none; display:inline-block;}


.top_menu {margin-right:20px; font-size:12pt; color:#000; text-decoration:none; display:inline-block; position:relative; cursor:pointer; padding-bottom:10px;}
.top_menu ul {display:none;}
.top_menu:hover ul {position:absolute; left:0; top:22px; display:block; list-style:none; padding:5px 0; margin:0px; background:rgba(255,255,255,.9); width:960px;  margin-top:3px;}
.top_menu ul li {display:inline-block; margin-right:20px; text-decoration:none; list-style:none;}
.top_menu ul li a {display:inline-block; padding:5px 10px; color:#008DD2; background:none; text-decoration:none; font-weight:bold; text-transform:uppercase;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.top_menu ul li a:hover {text-decoration:none; color:#FFF; background:#008DD2;}
.search {
	display:block;
	height:28px;
	width:29px;
	margin-right:15px;
	cursor:pointer;
	background:url(img/search.png) no-repeat center;
	float:left;
	position:relative;
}
.search span {display:block; width:100%; height:100%;}
.search div {position:absolute; top:31px; background:rgba(255,255,255,.9); padding:10px; left:-79px; z-index:88; width:309px;-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; display:none;}
input.t_i {background:#fff; border:1px inset #CCC; padding:5px; width:230px; display:inline-block; font-size:12px;}
input.t_i_s {cursor:pointer; display:inline-block; height:27px; line-height:27px; font-size:12px;}
.btn_1 { display:block; height:32px; width:126px; text-align:center; line-height:32px; font-size:9pt; font-weight:bold; color:#fff; text-transform:uppercase; margin-right:15px; background:url(img/btn_1.png) no-repeat center; float:left; cursor:pointer}

.b-longer {display:inline-block; width:63px; height:28px; background:url(/img/b-longer.png); cursor:pointer; float:left;}
.b-support {display:inline-block; width:104px; height:28px; background:url(/img/b-suppport.png); cursor:pointer; float:left; margin-left:10px;}
.lang {
	float:none;
	clear:both;
	font-size:13pt;
	height:32px;
	line-height:32px;
	display:inline-block;
	word-spacing: -4px;
}
.lang a {
	text-decoration:none;
	color:#000;
	position: relative;
}
.lang a:hover {
	text-decoration:none;
	color:#008DD2;
}

.lang img {
	margin-bottom: -5px;
}

.lang .flagIcon {
	width: 24px;
	height: 24px;
}



	
#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:100%; position:relative;
	}
#slider{ /* Оболочка слайдера */
	width:100%;
	height:600px;
	overflow: hidden;
	position:relative;}
.slide{ /* Слайд */
	width:100%;
	height:100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.sli-links{ /* Кнопки смены слайдов */
	bottom:10px;
	text-align:center; position:absolute; z-index:99; width:100%;}
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}
.sli-links .control-slide.active{
	background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
	display:block;
	width:150px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(left.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
#prewbutton{left:10px; z-index:1}
#nextbutton{
	right:10px;
	background:url(right.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;}
	
#slider-wrap h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .7); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
#slider-wrap p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .7); padding:0px; margin:0px;}

input.top {
	display:block;
	width: 91%;
	height:26px;
	border:none;
	color:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0 10px;
	/*background:url(img/input_1.png) left center no-repeat;*/
	background-color: rgba(255, 255, 255, 0.7);
}

#index_form_tel {
	width: 140px;
	float: right;
	margin-right: 2px;
}

#countries {
	width: auto;
	margin-top: 20px;
}

.top_countries {
	height: 24px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	display: inline-block;
	margin-top: 10px;
	position: relative;
	line-height: 26px;
	vertical-align: middle;
	padding-top: 2px;
	color: #ffffff;
}

/*описание для галочек*/
.choiсe_layout {
	height: 40px;
	width: 100%;
	margin-top: 10px;
}

.choice_layout input[type="radio"] {
	display: none;
}

.top_choice {
	width: 100px;
	color: #ffffff;
	margin-top: 10px;
	position: relative;
	font-size: 10pt;
	display: inline-block;
	vertical-align: middle;
}

.top_choice.commercial {
	margin-left: 10px;
}

.top_choice label {
	cursor: pointer;
}

.block_confirmation {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
}

.block_confirmation::before {
	content: "";
	display: none;
}

.choice_layout input[type="radio"]:checked + label .block_confirmation::before {
	content: "";
	display: block;
	width: 23px;
	height: 13px;
	border: 4px solid #0082BB;
	border-right: none;
	border-top: none;
	transform: rotate(-45deg);
	position: relative;
	bottom: 5px;
}

.text_choice {
	display: inline-block;
	width: 90px;
	margin-left: 35px;
}

.top_verification {
	width: 100%;
	/*border: 1px solid red;*/
	margin-top: 15px;
	color: #ffffff;
	font-size: 12px;
	position: relative;

}

.top_b {
	display:block;
	width: 100%;
	height:30px;
	border:none;
	color:#FFF;
	line-height:30px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-transform:uppercase;
	cursor:pointer;
	background:url(img/btn_2.png) no-repeat left top;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	margin-top: -15px;
}


.top_b2 {
	display:inline-block;
	height:46px;
	border:none;
	color:#FFF;
	line-height:46px;
	padding:0 20px;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
	text-transform:uppercase;
	background:#008DD2;
	box-shadow: 0 0 30px #008DD2 inset;
	cursor:pointer;
	font-size:13pt;
	font-weight:bold;
}

.index_gal {width:2500px; height:260px; margin-left:0px;}
.index_gal a {display:block; float:left; width:500px;
	height:260px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff !important;
	text-decoration:none !important;	
	position:relative;
	overflow:hidden;
}

.index_gal a .desc {
	display:block; position:absolute; z-index:1; background:rgba(0,0,0,.7); padding:20px; width:460px;
	left:0px; bottom:-100px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
.index_gal a:hover .desc {
	bottom:0px;}
	
.but_2 {display:inline-block; padding:15px; cursor:pointer; color:#008DD2; font-size:16pt; border:2px solid #008DD2;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform:uppercase; font-weight:bold;}

input.input {
	display:block;
	margin:0px;
	border:none;
	background:url(img/input.png) no-repeat left top;
	width:436px;
	height:55px; 
	line-height:55px;
	padding:0 20px;
}

textarea.text {
	display: block;
	margin: 0px;
	border: none;
	background: url(img/text.png) no-repeat left top;
	width: 422px;
	height: 92px;
	padding: 15px;
}

#top_q_txt {
	height: 130px;
	background-size: 453px 161px;
}

#cont_tel_haveq {
	width: 360px;
	display: inline-block;
	background-size: cover;
	float: right;
	background-size: 400px 55px;
}

.list_countries {
	display: inline-block;
	height: 40px;
	background-color: #d4d4d4;
	border-radius: 5px;
	position: relative;
	padding-top: 14px;
	box-shadow: inset 0 0 2px 3px #e5e5e5;
	margin-top: 11px;
}

.ymaps {height:100%;}
.ymaps-controls-pane {display:none;}

input.white {display:block; margin-bottom:15px; font-size:16pt; text-align:center; padding:15px; width:900px; background:#FFF; border:none;}
textarea.white {display:block; margin-bottom:15px; font-size:16pt; text-align:center; padding:15px; width:900px; height:280px; background:#FFF; border:none;}


/*Галочки внизу страницы*/
.haveq_verification {
	width: 100%;
	/*border: 1px solid red;*/
	margin-top: 10px;
	color: #000000;
	font-size: 12px;
	position: relative;
}

.haveq_verification .block_verification {
	border-color: #D9D9D9;
}

.haveq_verification .text_verification {
	width: 100%;
	font-size: 12pt;
}

.side_n {height:100%; float:left; position:relative;}
.side_n div.left {display:block; position:absolute; z-index:2; top:0; right:0; width:9px; height:100%; background:#FFF;}
.side_n div.right {display:block; position:absolute; z-index:2; top:0; left:0; width:9px; height:100%; background:#FFF;}

.last_n {width:314px; display:block; height:260px; float:left; position:relative;}
.last_n div {padding:10px; color:#FFF; font-size:11pt;}

.desc_news {padding:5px 30px 5px 0px; position:relative;}
.desc_news div {position:absolute; background:#565656; height:100%; top:0px;}
.photo_n {position:absolute; height:100%; left:0; top:0}

.face_gray {-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.face {-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;}

.otziv {display:block !important; width:460px; padding:0px; margin:0px; margin-right:40px; float:left; border-bottom:1px solid #F0F0F0; margin-bottom:40px;}
.otziv:nth-child(2n) {margin-right:0px;}

.otziv .video {display:block; width:100%; height:270px; background:#000;}
.otziv .podpis {display:block; height:60px; padding:10px 80px 0 40px; background:url(/img/citcit.png) no-repeat right top; text-align:left;}
.otziv .mt {max-height:270px; overflow:hidden; height:270px; position:relative;}
.otziv .mt .logo {display:block; padding:0 0 15px 0;}
.otziv .mt .logo img {max-width:100%; max-height:70px;}
.otziv .mt .word {font-size:12pt; text-align:left;}

a.showmen {display:none;   position: absolute;
  right: 0;
  top: 243px;
  z-index: 1;
  padding: 5px;
  background: #CCC;
  color: #000;
  width: 100%;
  text-decoration:none;}
  

.otziv2 {display:block; width:460px; padding:10px; margin:0px;}
.otziv2 .video {display:block; width:100%; height:270px; background:#000;}
.otziv2 .podpis {display:block; height:60px; padding:10px 80px 0 40px; background:url(/img/citcit.png) no-repeat right top; text-align:left;}
.otziv2 .mt .logo {display:block; padding:0 0 15px 0;}
.otziv2 .mt .logo img {max-width:100%; max-height:100px;}
.otziv2 .mt .word {font-size:12pt; text-align:left;}

.count {background:#374F75; font-size:14pt; -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%; width:100px; height:100px; line-height:0px; margin-top:5px;}

.count span {font-size:36pt; line-height:70px;}
.c_team {display:block;
	float:left;
	/*width:320px;
	height:400px;*/
	height: 368px;
	/*max-width: 320px;*/
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */}

.c_team:hover {
	display:block; float:left;
	/*width:320px;*/
	/*height:400px; */
	height: 368px;
	/*max-width: 320px;*/
	filter: none;
	filter: none; /* IE6-9 */
	-webkit-filter: none; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.vac {display:block; margin-bottom:15px; padding:0 0 0 50px; position:relative; cursor:pointer;}
.vac .stat {position:absolute; width:20px; height:20px; text-align:center; color:#FFF; background:#CCC; line-height:20px; left:0; top:2px;}
.vac .name {font-size:18pt; padding-bottom:5px;}
.vac .desc {font-size:13pt; display:none}

input.black {display:block; width:336px; padding:15px; font-size:14pt; background:rgba(255,255,255,.7); text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top:15px; border:1px solid #999;}

textarea.black {display:block; width:336px; padding:15px; font-size:14pt; background:rgba(255,255,255,.7); text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top:15px; border:1px solid #999; height:120px;}

a.soc {display:inline-block; height:32px; width:32px; text-decoration:none; padding:0px; margin:0px !important;}

#topbg h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
#topbg p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0px; margin:0px;}

.bg h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
.bg p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0px; margin:0px;}

#leftmenu {position:absolute; z-index:1; top:30px; background:rgba(255,255,255,.8); border:1px solid #f1f1f1; padding:10px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width:190px;}

a.left {display:block; padding:5px 0; font-size:10pt; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#000;}
a.left:hover {text-decoration:none; color:#008DD2;}
a.left_a {display:block; padding:5px 0; font-size:10pt; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#008DD2;}

a.ah1 {display:inline-block; padding:10px 0; margin-right:20px; margin-top:20px; text-transform:uppercase; color:#333; text-decoration:none; font-size:24px; font-weight:bold; border-top:2px solid #fff;}
a.ah1:hover {color:#008DD2;}

a.ah1_a {display:inline-block; padding:10px 0; margin-right:20px; margin-top:20px; text-transform:uppercase; color:#008DD2; text-decoration:none; font-size:24px; font-weight:bold; border-top:2px solid #008DD2;}

.catalog-filter {background:#F4950D}
.catalog-filter div.left_panel {height:48px; line-height:48px; padding:0 10px; color:#FFF; font-size:14pt; font-weight:bold; float:left;width:57px; display:none;}
.catalog-filter div.right_panel {height:48px; line-height:48px; padding:0 10px 0 0; color:#FFF; font-size:14pt; font-weight:bold;}
.catalog-filter span.bu {cursor:pointer; color:#fff;}
.catalog-filter span.bu:hover {color:#CCC;}
.catalog-filter span.bu_a {color:#000;}
.catalog-content {padding:20px; background:#f7f7f7; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
column-gap:20px; -moz-column-gap:20px; -webkit-column-gap:20px; position:relative;}
.catalog-content .firstlevel {padding:0px; padding-left:50px; position:relative; text-transform:uppercase; color:#2B57BC; margin-bottom:5px; cursor:pointer;}
.catalog-content .level {padding:0px; padding-left:20px; position:relative; text-transform:uppercase; color:#000; margin-bottom:5px; display:none}
.catalog-content .firstlevel:before {
     content: ">";
display: block;
font-size: 16pt;
color: #D0CDCD;
position: absolute;
left: 35px;
top: -3px;
   }
   
.catalog-content .bukva {position:absolute; z-index:1; left:0px; top:-5px; display:block; font-size:17pt; color:#F4950D; text-transform:uppercase; font-weight:bold; width:30px; text-align:center;}

.catalog-showall {display:none; position:absolute; right:5px; bottom:5px; color:red; cursor:pointer; font-size:12pt;}

canvas.pano {cursor:crosshair;}

.hot_keys tr td {border-bottom:1px solid #f1f1f1;}
.hot_keys tr:hover td {border-bottom:1px solid #f1f1f1; background:#f1f1f1;}

div.z1 {width:100%; height:280px; z-index:-1; position:absolute; left:0; top:0;}
div.z2 {width:100%; height:280px; z-index:-1;  position:absolute; left:0; top:0;}

.tar p {padding:0 30px; font-size:14pt;}
.tar {position:relative;}
.tar .z2 {display:none;}
.tar:hover .z2 {display:block;}


.tar .z1 {display:block;}
.tar:hover .z1 {display:none;}

.videolist {display:block; list-style:none; padding:0px; margin:0px;}
.videolist li {display:block; padding:0px; margin-bottom:10px; font-size:12pt;}

.indexnews {display:block; position:relative; color:#fff; padding:0 0 0 60px; margin-bottom:25px;}
.indexnews .date {position:absolute; left:0; top:0; font-size:18pt;}

#top_key_tel {
	display: inline-block;
	width: 422px;

}

.top_key_list_countries {
	display: inline-block;
	height: 40px;
	background-color: #d4d4d4;
	border-radius: 5px;
	position: relative;
	padding-top: 14px;
	box-shadow: inset 0 0 2px 3px #e5e5e5;
	margin-top: 10px;
}

input.demo {display:block; width:500px; padding:5px 15px; background:#e5e5e5; font-size:14pt; color:#000; border:none; margin-bottom:15px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.white2 {display:none;}
.white3 {display:none;}

a.nnews {display:block; color:#000; text-decoration:none; width:768px; padding:330px 96px 70px 96px; position:relative;}
a.nnews:after {display:block; position:absolute; left:126px; bottom:50px; content:''; color:#000; width:51px; height:30px; background:url(/img/arrowrightnews.png) left top no-repeat;}
a.nnews:hover:after { background:url(/img/arrowrightnews.png) left bottom no-repeat;}
a.nnews:hover {color:#000; text-decoration:none;}
a.nnews .img {display:block; position:absolute; width:100%; left:0; top:0; height:450px; z-index:-1;}
a.nnews .news_desc {display:block; padding:30px; border-top:5px solid #008DD2; background:rgba(255,255,255,0.7); z-index:9;}
a.nnews .news_date {font-weight:bold; color:#000; font-size:18px; display:block; text-align:left;}
a.nnews h1 {padding:20px 0px; margin:0px; text-transform:none; color:#333; font-size:42px; text-align:left;}
a.nnews p {text-decoration:none; color:#000; font-size:16px; padding:0px; text-align:left;}

ul.pay {display:block; padding:15px 0; margin:0px; list-style:none; margin-top:30px;}
ul.pay li {display:block; float:left; width:15%; margin:0px; margin-right:2%; list-style:none; padding:0px;}
ul.pay li:nth-child(4n+n) {margin-right:0px;}
ul.pay li img {width:100%; max-width:100%;}

ul.history {display:block; padding:0px; margin:0px; list-style:none; padding-bottom:30px}
ul.history li {display:block; padding:3px; margin:0px; text-align:left; list-style:none; background:#A9FFE3; font-size:14px;}
ul.history li.minus {background:#FFAFD7;}
ul.history li .date {width:100px; display:inline-block; text-align:left}
ul.history li .summa {width:100px; display:inline-block; text-align:right; margin-right:15px;}

#pay-amount, #pay, label[for=pay-amount] {display:inline-block; font-size:18px; font-weight:bold; padding:5px 10px; text-align:right; width:100px; margin-right:15px; border:1px solid #666; background:none;}
#pay-amount:focus {border:1px solid #008DD2;}

#pay {background:#008DD2; color:#fff; cursor:pointer; width:auto; opacity:.7;}
#pay:hover {opacity:1;}

label[for=pay-amount] {width:auto; border:1px solid #fff; padding:5px 0;}

.header-logo-item {
	position: relative;
}

.btn-pay,
.btn-update,
.btn-add {
	display:inline-block;
	position: absolute;
	padding: 0 5px;
	height:28px;
	line-height:30px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	text-decoration:none;
	margin-top:0px;
	font-size:14pt;
	font-weight:bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 5px;
}

.btn-pay {
	background:#62b34c;
	right: 160px;
}

.btn-update {
	background:#e5ce00;
	right: 30px;
}

.btn-add {
	background:#9c2faf;
	right: 265px;
	padding-left: 20px;
}

.btn-add::before {
	content: '+';
	font-size: 24px;
	position: absolute;
	left: 4px;
}

.btn-pay:hover,
.btn-update:hover,
.btn-add:hover {
	color:#fff;
	text-decoration:none;
}

.btn-pay:hover {
	background:#0A9700;
}

.btn-update:hover {
	background:#d1bc00;
}

.btn-add:hover {
	background: #842794;
}

#fs_start {cursor:pointer; height:35px;}
#myFull {display:none; position:relative;}
#myFull .full_content {
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	background:#000;
}

#myFull .full_content div.img {
	background: no-repeat center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
#myFull canvas {display:block; position:absolute; left:0px; top:0px; width:100% !important; height:100% !important;}
#myFull .exit {
	display:block; position:absolute; right:50px; bottom:50px; cursor:pointer; z-index:8;}
#myFull .left {
	display:block; position:absolute; left:50px; top:50%; margin-top:-25px; cursor:pointer; z-index:8;}
#myFull .right {
	display:block; position:absolute; right:50px; top:50%; margin-top:-25px; cursor:pointer; z-index:8;}

#myFull:-webkit-full-screen {
  height:100%;
  width:100%;
  position:fixed;
  left:0px;
  top:0px;
  display:block;
}
#myFull:-moz-full-screen {
  height:100%;
  width:100%;
  position:fixed;
  left:0px;
  top:0px;
  display:block;
}
#myFull:full-screen {
  height:100%;
  width:100%;
  position:fixed;
  left:0px;
  top:0px;
  display:block;
}

/*Описание для блока политики конфиденциальности*/
.block_verification {
	display: inline-block;
	width: 20px;
	height: 20px;
	/*margin: 5px 5px;*/
	border: 3px solid rgba(255, 255, 255, 0.7);
	border-radius: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.block_verification::before {
	content: "";
	display: block;
	width: 23px;
	height: 13px;
	border: 4px solid #0082BB;
	border-right: none;
	border-top: none;
	transform: rotate(-45deg);
	position: relative;
	bottom: 5px;
}

.text_verification {
	display: inline-block;
	width: 180px;
	margin-left: 35px;
}

.top_key_verification {
	position: relative;
	width: 452px;
	/*border: 1px solid red;*/
	margin-top: 10px;
	color: #666666;
	position: relative;
}

.top_key_verification .block_verification {
	border-color: #d3d3d3;
}

.top_key_verification .text_verification {
	width: 90%;
	font-size: 14px;
}

#privacy_policy {
	position: fixed;
	width: 60%;
	max-height: calc(100vh - 200px);
    overflow-y: auto;
    border: none;
    box-shadow: 0 0 25px 0 #000000;
}

.privacy_button_open {
	cursor: pointer;
	text-decoration: underline;
}

#privacy_button_close {
	position: fixed;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
	margin: 85px calc(20%);
	opacity: 0.3;
	/*border: 2px solid #ffffff;
	border-radius: 50%;
	background-color: #000000;*/
	z-index: 20;
}

#privacy_button_close:hover {
	opacity: 1;
}

#privacy_button_close::after, #privacy_button_close::before {
	position: absolute;
	left: 10px;
	content: '';
	height: 20px;
	width: 2px;
	background-color: #333;

}

#privacy_button_close::after {
	transform: rotate(45deg); 
}

#privacy_button_close::before {
	transform: rotate(-45deg); 
}

.products {
	width: 960px;
	text-align: center;
	margin: 100px auto;
}

.product-name {
	display:block;
	padding:5px 0;
	color:#000000;
	font-weight:bold;
	font-size:14pt; 
	margin:0px;
	text-align:center;
}

.products-layout {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.product-block {
	width: 290px;
	margin-top: 30px;
	color: #000000;
	transition: 200ms;
	position: relative;
}

.product-block:hover {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: #000000;
	transition: 200ms;
	transform: scale(1.1);
}

.product-info .preview {
	height: 200px;
	margin-top: 10px;
}

.product-info .preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0 0;
}

.product-block:nth-child(1) .product-info .preview img {
	object-position: -50px 0;
}

.product-block:nth-child(3) .product-info .preview img {
	object-position: -75px 0;
}

.product-block:nth-child(5) .product-info .preview img {
	object-position: -33px 0;
}

.product-info .about {
	font-size: 12pt;
	padding-top: 10px;
	position: absolute;
	bottom: 10px;
	background-color: rgba(255,255,255,0.7);
	height: 75px;
}

.updates {
	width: 960px;
	margin: 50px auto;
}

.view-source {
	position: relative;
}

.update-section {
	width: 880px;
	padding: 20px 40px;
	background-color: #ffffff;
	margin-top: 20px;
	border-radius: 10px;
	color: #000000;
	font-size: 18pt;
	cursor: pointer;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.update-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 5px;
	border: 5px solid #000000;
	border-right: none;
	border-top: none;
	border-radius: 5px;
	transform: rotate(-45deg);
	transition: 400ms;
	pointer-events: none;
}

.update-info {
	width: 100%;
	display: none;
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.5)
}

.update-block {
	margin: 0 0 50px 0;
	padding: 0 30px;
}

.update-block a {
	text-decoration: underline;
}

.update-block .item-top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}

.update-block .item-name {
	margin-left: 0;
	margin-right: 20px;
	font-size: 18pt;
	margin-bottom: -1px;
}


.update-block .item-size {
	margin-left: 0;
	margin-right: auto;
}

.update-block .item-description {
	margin-top: 20px;
}

.update-block .item-description .head {
	font-size: 17pt;
}

.item-description .block-description {
	margin: 20px;
}

.subheader
{
    min-height: 69px;
}
.subheader .title-item
{
    margin-top:79px;
    margin-bottom:10px;
    background:#008DD2;
    text-align: center;
}
.subheader .title-page
{
    width:960px;
    height:69px;
    line-height:69px;
    text-align: left;
    display: inline-block;
}
.subheader .title-page h1
{
    color:#FFF;
    text-align:left;
    padding:0px;
    margin:0px;
    font-size:18pt;
    text-transform: uppercase;
}

.btn-help {
    display: inline-block;
    text-decoration: none;
    width: 90px;
    height: 20px;
    background: #e31e24;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 4px 6px;
    float: left;
    margin-left: 10px;
    position: relative;
    line-height: 11px;
    letter-spacing: 0.3px;
}

.btn-help:hover {
    text-decoration: none;
    color: #fff;
}

.btn-help::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(img/icons/support.svg);
    background-repeat: no-repeat;
    right: 4px;
    top: 4px;
}

.item-upload .file-upload
{
    display: inline-block;
    position: relative;
    top: 16px;
    overflow: hidden;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    background: -webkit-linear-gradient(291deg, #008dd2, #1beabd);
    background: -o-linear-gradient(291deg, #008dd2, #1beabd);
    background: linear-gradient(21deg, #008dd2, #1beabd);
    width: 200px;
    border-radius: 50px;
    padding: 8px 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.file-upload:hover {
     opacity: .9;
}
.file-upload:active {
     background: #008dd2;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
     /* Растягиваем label на всю возможную площадь блока .file-upload */
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.item-upload .block-upload
{
    width: 49%;
    display: inline-block;
    min-height: 50px;
}
.item-upload .block-upload:last-child
{
    text-align: right;
}

.item-upload .check-file {
    word-wrap: break-word;
}

#support {display:block; padding:0px; margin:0px; list-style:none;}
#support {position:relative;}
#support label {position:relative;}
#support:after {display:block; clear:both; float:none; content:'';}
#support>li {display:block; float:left; margin:0px; padding:0px; list-style:none; margin-bottom:15px; width:100%;}
#support>li:after {display:block; clear:both; float:none; content:'';}
#support>li label {display:block; float:left; width:100%;}
#support>li.two label {width:48%; margin-right:4%;}
#support>li.two label:nth-child(2n+2) {margin-right:0px;}
#support>li>label>span {display:block; position:absolute; left:0px; top:0px; color:#999; font-size:16px; z-index:1;}
#support>li>label input {display:block; width:100%; padding:15px 7px 3px 7px; background:none; border:none; border-bottom:1px solid #999;}
#support li label textarea {display:block; width:100%; padding:15px 7px 3px 7px; background:none; border:none; border-bottom:1px solid #999; height:50px; resize:none;}
#support li.file div {display:inline-block; height:26px; line-height:26px; width:126px; background:url(/img/btn_1.png); cursor:pointer; color:#fff; text-align:center;}
#support li.file label span {height:26px; line-height:26px; color:#000;}
#support li.desc {font-size:14px; color:#999;}
#support li.desc p {padding-bottom:3px; margin-bottom:0px;}
#support input[type=submit] {display:inline-block;height:26px; line-height:26px; width:126px; background:url(/img/btn_1.png); cursor:pointer; color:#fff; text-align:center; border:none; margin-top:5px;} 



/* правки */
#footer a {display:inline-block; margin-right:2px;}
.section-icon-soc .society_wides{
	position: relative;
	float:right;
}
#footer a:hover {display:inline-block; margin-right:2px;
text-decoration:none; color:#008DD2; font-size:11pt;}

.society_wides img{
	z-index: 500 !important;
	background: gray;
	border-radius: 10px;
	padding:2px;
	height: 20px;
	width: 20px;
}
.society_wides img:hover{
	z-index: 500;
	background: darkgray;
	border-radius: 10px;
	opacity: 0.5;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	transition: 0.9s ;
}

