@import "http://webfonts.ru/import/fregat.css";

html, body {padding:0px; margin:0px; color:#000; font-size:12pt; font-family:  'Fregat', Tahoma, Geneva, sans-serif; background:none;}
p {padding:0px; margin:0 0 10px 0;}
input:focus {outline:none;}
textarea:focus {outline:none;}
select:focus {outline:none;}
::-webkit-input-placeholder {color:rgba(0,0,0,.6);}
::-moz-placeholder          {color:rgba(0,0,0,.6);}
:-moz-placeholder           {color:rgba(0,0,0,.6);}
:-ms-input-placeholder      {color:rgba(0,0,0,.6);}

h1 {display:block; padding:20px 0; color:#008DD2; font-weight:bold; font-size:33pt; margin:0px; text-align:center; text-transform:uppercase;}
h2 {display:block; padding:0px; color:#000; font-weight:bold; font-size:38pt; margin:0px; text-align:left; text-transform:uppercase;}
h3 {display:block; padding:10px 0; color:#000; font-weight:bold; font-size:15pt; margin:0px; text-align:center; text-transform:uppercase;}

h4 {display:block; padding:5px 0; color:#008DD2; font-weight:bold; font-size:18pt; margin:0px; text-align:center; text-transform:uppercase;}
h5 {display:block; padding:5px; color:#008DD2; font-weight:bold; font-size:24pt; margin:0px; text-align:left; text-transform:uppercase;}
h6 {display:block; padding:5px 0; color:#000; font-weight:bold; font-size:18pt; margin:0px; text-align:center; text-transform:uppercase;}

a {
	text-decoration:none; color:#008DD2; 
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;}
	
a:hover {
	text-decoration:underline;
	color:#008DD2;
	}
	
#footer a {display:inline-block; margin-right:20px;
text-decoration:none; color:#999; font-size:11pt;}

#footer a:hover {display:inline-block; margin-right:20px;
text-decoration:none; color:#008DD2; font-size:11pt;}
	
.bg {
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
.top span {color:#008DD2;}
.top .logo {display: block;
height: 37px;
line-height: 46px;
text-decoration: none;
color: #434242;
font-size: 24pt;
font-weight: bold;
background: url(img/logo.png) right center no-repeat;
width: 217px;}
.top .logo:hover {text-decoration:none; color:#434242;}

a.top_menu {margin-right:20px; font-size:12pt; color:#000; text-decoration:none; display:inline-block;}
a.top_menu_a {margin-right:20px; font-size:12pt; color:#008DD2; text-decoration:none; display:inline-block;}
a.top_menu_a:hover {margin-right:20px; font-size:12pt; color:#008DD2; text-decoration:none; display:inline-block;}


.top_menu {margin-right:20px; font-size:12pt; color:#000; text-decoration:none; display:inline-block; position:relative; cursor:pointer; padding-bottom:10px;}
.top_menu ul {display:none;}
.top_menu:hover ul {position:absolute; left:0; top:17px; display:block; list-style:none; padding:5px 0; margin:0px; background:rgba(255,255,255,.9); width:960px;  margin-top:8px;}
.top_menu ul li {display:inline-block; margin-right:20px; text-decoration:none; list-style:none;}
.top_menu ul li a {display:inline-block; padding:5px 10px; color:#008DD2; background:none; text-decoration:none; font-weight:bold; text-transform:uppercase;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.top_menu ul li a:hover {text-decoration:none; color:#FFF; background:#008DD2;}
.search { display:block; height:32px; width:29px; margin-right:15px; cursor:pointer; background:url(img/search.png) no-repeat center; float:left; margin-left:90px; position:relative;}
.search span {display:block; width:100%; height:100%;}
.search div {position:absolute; top:31px; background:rgba(255,255,255,.9); padding:10px; left:-79px; z-index:88; width:309px;-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; display:none;}
input.t_i {background:#fff; border:1px inset #CCC; padding:5px; width:230px; display:inline-block; font-size:12px;}
input.t_i_s {cursor:pointer; display:inline-block; height:27px; line-height:27px; font-size:12px;}
.btn_1 { display:block; height:32px; width:126px; text-align:center; line-height:32px; font-size:9pt; font-weight:bold; color:#fff; text-transform:uppercase; margin-right:15px; background:url(img/btn_1.png) no-repeat center; float:left; cursor:pointer}
.lang { float:none; clear:both; font-size:13pt; height:32px; line-height:32px; display:inline-block;}
.lang a {text-decoration:none; color:#000;}
.lang a:hover {text-decoration:none; color:#008DD2;}


	
#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:100%; position:relative;
	}
#slider{ /* Оболочка слайдера */
	width:100%;
	height:600px;
	overflow: hidden;
	position:relative;}
.slide{ /* Слайд */
	width:100%;
	height:100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
.sli-links{ /* Кнопки смены слайдов */
	bottom:10px;
	text-align:center; position:absolute; z-index:99; width:100%;}
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(radioBg.png) center bottom no-repeat;}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}
.sli-links .control-slide.active{
	background-position:center top;}
#prewbutton, #nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
	display:block;
	width:150px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url(left.png) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
#prewbutton{left:10px; z-index:1}
#nextbutton{
	right:10px;
	background:url(right.png) right center no-repeat;}
#prewbutton:hover, #nextbutton:hover{
	opacity:1;}
	
#slider-wrap h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .7); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
#slider-wrap p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .7); padding:0px; margin:0px;}

input.top {display:block; width:140px; height:26px; border:none; color:#FFF;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding:0 10px; background:url(img/input_1.png) left center no-repeat;}

.top_b {display:block; width:160px; height:30px; border:none; color:#FFF; line-height:30px;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform:uppercase;
cursor:pointer; background:url(img/btn_2.png) no-repeat left top; font-size:10pt; font-weight:bold; text-align:center;}

.top_b2 {
	display:inline-block;
	height:46px;
	border:none;
	color:#FFF;
	line-height:46px;
	padding:0 20px;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
	text-transform:uppercase;
	background:#008DD2;
	box-shadow: 0 0 30px #008DD2 inset;
	cursor:pointer;
	font-size:13pt;
	font-weight:bold;}

.index_gal {width:2500px; height:260px; margin-left:0px;}
.index_gal a {display:block; float:left; width:500px;
	height:260px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff !important;
	text-decoration:none !important;	
	position:relative;
	overflow:hidden;
}

.index_gal a .desc {
	display:block; position:absolute; z-index:1; background:rgba(0,0,0,.7); padding:20px; width:460px;
	left:0px; bottom:-100px;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;
}
.index_gal a:hover .desc {
	bottom:0px;}
	
.but_2 {display:inline-block; padding:15px; cursor:pointer; color:#008DD2; font-size:16pt; border:2px solid #008DD2;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-transform:uppercase; font-weight:bold;}

input.input {display:block; margin:0px; border:none; background:url(img/input.png) no-repeat left top; width:436px; height:55px; line-height:55px; padding:0 20px;}
textarea.text {display:block; margin:0px; border:none; background:url(img/text.png) no-repeat left top; width:422px; height:92px; padding:15px;}

ymaps {height:100%;}
.ymaps-controls-pane {display:none;}

input.white {display:block; margin-bottom:15px; font-size:16pt; text-align:center; padding:15px; width:900px; background:#FFF; border:none;}
textarea.white {display:block; margin-bottom:15px; font-size:16pt; text-align:center; padding:15px; width:900px; height:280px; background:#FFF; border:none;}

.side_n {height:100%; float:left; position:relative;}
.side_n div.left {display:block; position:absolute; z-index:2; top:0; right:0; width:9px; height:100%; background:#FFF;}
.side_n div.right {display:block; position:absolute; z-index:2; top:0; left:0; width:9px; height:100%; background:#FFF;}

.last_n {width:314px; display:block; height:260px; float:left; position:relative;}
.last_n div {padding:10px; color:#FFF; font-size:11pt;}

.desc_news {padding:5px 30px 5px 0px; position:relative;}
.desc_news div {position:absolute; background:#565656; height:100%; top:0px;}
.photo_n {position:absolute; height:100%; left:0; top:0}

.face_gray {-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.face {-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;}

.otziv {display:block !important; width:460px; padding:0px; margin:0px; margin-right:40px; float:left; border-bottom:1px solid #F0F0F0; margin-bottom:40px;}
.otziv:nth-child(2n) {margin-right:0px;}

.otziv .video {display:block; width:100%; height:270px; background:#000;}
.otziv .podpis {display:block; height:60px; padding:10px 80px 0 40px; background:url(/img/citcit.png) no-repeat right top; text-align:left;}
.otziv .mt {max-height:270px; overflow:hidden; height:270px; position:relative;}
.otziv .mt .logo {display:block; padding:0 0 15px 0;}
.otziv .mt .logo img {max-width:100%; max-height:70px;}
.otziv .mt .word {font-size:12pt; text-align:left;}

a.showmen {display:none;   position: absolute;
  right: 0;
  top: 243px;
  z-index: 1;
  padding: 5px;
  background: #CCC;
  color: #000;
  width: 100%;
  text-decoration:none;}
  

.otziv2 {display:block; width:460px; padding:10px; margin:0px;}
.otziv2 .video {display:block; width:100%; height:270px; background:#000;}
.otziv2 .podpis {display:block; height:60px; padding:10px 80px 0 40px; background:url(/img/citcit.png) no-repeat right top; text-align:left;}
.otziv2 .mt .logo {display:block; padding:0 0 15px 0;}
.otziv2 .mt .logo img {max-width:100%; max-height:100px;}
.otziv2 .mt .word {font-size:12pt; text-align:left;}

.count {background:#374F75; font-size:14pt; -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%; width:100px; height:100px; line-height:0px; margin-top:5px;}

.count span {font-size:36pt; line-height:70px;}
.c_team {display:block; float:left; width:320px; height:400px; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */}

.c_team:hover {
	display:block; float:left; width:320px; height:400px; 
	filter: none;
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.vac {display:block; margin-bottom:15px; padding:0 0 0 50px; position:relative; cursor:pointer;}
.vac .stat {position:absolute; width:20px; height:20px; text-align:center; color:#FFF; background:#CCC; line-height:20px; left:0; top:2px;}
.vac .name {font-size:18pt; padding-bottom:5px;}
.vac .desc {font-size:13pt; display:none}

input.black {display:block; width:336px; padding:15px; font-size:14pt; background:rgba(255,255,255,.7); text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top:15px; border:1px solid #999;}

textarea.black {display:block; width:336px; padding:15px; font-size:14pt; background:rgba(255,255,255,.7); text-align:center; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-top:15px; border:1px solid #999; height:120px;}

a.soc {display:inline-block; height:32px; width:32px; text-decoration:none; padding:0px; margin:0px !important;}

#topbg h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
#topbg p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0px; margin:0px;}

.bg h1 {color:#FFF; font-size:30pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0 0 30px 0; margin:0px; text-align:left; text-transform:none;}
.bg p {color:#FFF; font-size:16pt; text-shadow: -3px 1px 2px rgba(0, 0, 0, .9); padding:0px; margin:0px;}

#leftmenu {position:absolute; z-index:1; top:30px; background:rgba(255,255,255,.8); border:1px solid #f1f1f1; padding:10px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width:190px;}

a.left {display:block; padding:5px 0; font-size:10pt; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#000;}
a.left:hover {text-decoration:none; color:#008DD2;}
a.left_a {display:block; padding:5px 0; font-size:10pt; text-transform:uppercase; text-decoration:none; font-weight:bold; color:#008DD2;}

a.ah1 {display:inline-block; padding:10px 0; margin-right:20px; margin-top:20px; text-transform:uppercase; color:#333; text-decoration:none; font-size:24px; font-weight:bold; border-top:2px solid #fff;}
a.ah1:hover {color:#008DD2;}

a.ah1_a {display:inline-block; padding:10px 0; margin-right:20px; margin-top:20px; text-transform:uppercase; color:#008DD2; text-decoration:none; font-size:24px; font-weight:bold; border-top:2px solid #008DD2;}

.catalog-filter {background:#F4950D}
.catalog-filter div.left_panel {height:48px; line-height:48px; padding:0 10px; color:#FFF; font-size:14pt; font-weight:bold; float:left;width:57px; display:none;}
.catalog-filter div.right_panel {height:48px; line-height:48px; padding:0 10px 0 0; color:#FFF; font-size:14pt; font-weight:bold;}
.catalog-filter span.bu {cursor:pointer; color:#fff;}
.catalog-filter span.bu:hover {color:#CCC;}
.catalog-filter span.bu_a {color:#000;}
.catalog-content {padding:20px; background:#f7f7f7; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2;
column-gap:20px; -moz-column-gap:20px; -webkit-column-gap:20px; position:relative;}
.catalog-content .firstlevel {padding:0px; padding-left:50px; position:relative; text-transform:uppercase; color:#2B57BC; margin-bottom:5px; cursor:pointer;}
.catalog-content .level {padding:0px; padding-left:20px; position:relative; text-transform:uppercase; color:#000; margin-bottom:5px; display:none}
.catalog-content .firstlevel:before {
     content: ">";
display: block;
font-size: 16pt;
color: #D0CDCD;
position: absolute;
left: 35px;
top: -3px;
   }
   
.catalog-content .bukva {position:absolute; z-index:1; left:0px; top:-5px; display:block; font-size:17pt; color:#F4950D; text-transform:uppercase; font-weight:bold; width:30px; text-align:center;}

.catalog-showall {display:none; position:absolute; right:5px; bottom:5px; color:red; cursor:pointer; font-size:12pt;}

canvas.pano {cursor:crosshair;}

.hot_keys tr td {border-bottom:1px solid #f1f1f1;}
.hot_keys tr:hover td {border-bottom:1px solid #f1f1f1; background:#f1f1f1;}

div.z1 {width:100%; height:280px; z-index:-1; position:absolute; left:0; top:0;}
div.z2 {width:100%; height:280px; z-index:-1;  position:absolute; left:0; top:0;}

.tar p {padding:0 30px; font-size:14pt;}
.tar {position:relative;}
.tar .z2 {display:none;}
.tar:hover .z2 {display:block;}


.tar .z1 {display:block;}
.tar:hover .z1 {display:none;}

.videolist {display:block; list-style:none; padding:0px; margin:0px;}
.videolist li {display:block; padding:0px; margin-bottom:10px; font-size:12pt;}

.indexnews {display:block; position:relative; color:#fff; padding:0 0 0 60px; margin-bottom:25px;}
.indexnews .date {position:absolute; left:0; top:0; font-size:18pt;}

input.demo {display:block; width:500px; padding:5px 15px; background:#e5e5e5; font-size:14pt; color:#000; border:none; margin-bottom:15px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}

.white2 {display:none;}
.white3 {display:none;}

a.nnews {display:block; color:#000; text-decoration:none; width:768px; padding:330px 96px 70px 96px; position:relative;}
a.nnews:after {display:block; position:absolute; left:126px; bottom:50px; content:''; color:#000; width:51px; height:30px; background:url(/img/arrowrightnews.png) left top no-repeat;}
a.nnews:hover:after { background:url(/img/arrowrightnews.png) left bottom no-repeat;}
a.nnews:hover {color:#000; text-decoration:none;}
a.nnews .img {display:block; position:absolute; width:100%; left:0; top:0; height:450px; z-index:-1;}
a.nnews .news_desc {display:block; padding:30px; border-top:5px solid #008DD2; background:rgba(255,255,255,0.7); z-index:9;}
a.nnews .news_date {font-weight:bold; color:#000; font-size:18px; display:block; text-align:left;}
a.nnews h1 {padding:20px 0px; margin:0px; text-transform:none; color:#333; font-size:42px; text-align:left;}
a.nnews p {text-decoration:none; color:#000; font-size:16px; padding:0px; text-align:left;}

ul.pay {display:block; padding:15px 0; margin:0px; list-style:none; margin-top:30px;}
ul.pay li {display:block; float:left; width:15%; margin:0px; margin-right:2%; list-style:none; padding:0px;}
ul.pay li:nth-child(4n+n) {margin-right:0px;}
ul.pay li img {width:100%; max-width:100%;}

ul.history {display:block; padding:0px; margin:0px; list-style:none; padding-bottom:30px}
ul.history li {display:block; padding:3px; margin:0px; text-align:left; list-style:none; background:#A9FFE3; font-size:14px;}
ul.history li.minus {background:#FFAFD7;}
ul.history li .date {width:100px; display:inline-block; text-align:left}
ul.history li .summa {width:100px; display:inline-block; text-align:right; margin-right:15px;}

#pay-amount, #pay, label[for=pay-amount] {display:inline-block; font-size:18px; font-weight:bold; padding:5px 10px; text-align:right; width:100px; margin-right:15px; border:1px solid #666; background:none;}
#pay-amount:focus {border:1px solid #008DD2;}

#pay {background:#008DD2; color:#fff; cursor:pointer; width:auto; opacity:.7;}
#pay:hover {opacity:1;}

label[for=pay-amount] {width:auto; border:1px solid #fff; padding:5px 0;}

.btn-pay {display:block; float:left; width:102px; margin-right:-55px; height:28px; line-height:28px; color:#fff; text-transform:uppercase; background:#62b34c; text-align:center; text-decoration:none; margin-top:0px; font-size:14pt; font-weight:bold; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.btn-pay:hover {background:#0A9700; color:#fff; text-decoration:none;}

.FS {cursor:pointer; position:absolute; right:50px; top:50px;}

/*canvas:-webkit-full-screen {
  height:100% !important;
}
canvas:-moz-full-screen {
  height:100% !important;
}
canvas:full-screen {
  height:100% !important;
}*/
