@import "./fonts/clearsans.css";

html, body {padding:0px; margin:0px; color:#333; font-size:14px; font-family: 'Clear Sans',sans-serif; background:none;}

body * { 
	outline:none !important; 
	-moz-box-sizing: border-box; 
	-opera-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
	box-sizing: border-box;
}

p {padding:0px; margin:0 0 10px 0;}


h1 {font-size:32px; font-weight:bold; display:inline-block; padding:10px 0px; margin:0px;}
h2 {font-size:24px; font-weight:normal; display:inline-block; padding:20px 0px; margin:0px;}
h3 {font-size:18px; font-weight:bold; display:inline-block; padding:0px; margin:0px;}
a {color:#61b0e9; text-decoration:none;-webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; -ms-transition: All 0.5s ease; transition: All 0.5s ease;}
a:hover {color:#333; text-decoration:underline;}

.bg {
	background: no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

.top {position:fixed; z-index:99; background:#3a4450; height:30px; width:100%;}
.top div {float:left; height:30px; line-height:30px; width:50%; padding:0px 10px; color:#FFF; font-size:14px;}
.top div a {color:#FFF; text-decoration:none;} .top div a:hover {color:#F1F1F1; text-decoration:none;}

.left {
	position:fixed;
	z-index:98;
	width:220px;
	height:100%;
	left:0px; top:0px;
	background:#61b0e9 url(img/bg.png) left bottom no-repeat;
	padding:40px 0px 0px 0px;
}

.content {display:block; width:100%; padding:40px 10px 60px 230px;}

#poisk { display:block; width:200px; padding:5px; margin-left:10px; padding-right:25px; border:none; background:url(img/search.png) right center no-repeat #3A4450; text-align:left; font-size:14px; color:#f5f5f5;}

.left ul.menu {display:block; margin:10px 0 0 0; padding:0; list-style:none; width:100%;}
.left ul.menu li {display:block; width:100%;}
.left ul.menu li a {display:block; height:30px; line-height:30px; width:100%; background:none; color:#FFF; text-transform:uppercase; font-size:16px; padding:0 0 0 30px; text-decoration:none;}
.left ul.menu li a:hover {background:#6BBEF6; color:#FFF; text-decoration:none;}

.left ul.menu li a.active {display:block; height:30px; line-height:30px; width:100%; background:#FFF; color:#333; text-transform:uppercase; font-size:16px; padding:0 0 0 30px; text-decoration:none}
.left ul.menu li a.active:hover {background:#FFF; color:#333; text-decoration:none;}

.input-inline {display:inline-block; padding:5px; border:1px solid #ccc; background:#FFF; font-size:14px;}
.button-inline {display:inline-block; padding:5px; font-size:14px; border:1px solid #389ae2; background:#389ae2; color:#FFF; cursor:pointer;}
.button-inline:hover {display:inline-block; padding:5px; font-size:14px; border:1px solid #389ae2; background:#6bbef6; color:#FFF; cursor:pointer;}

a.button {display:inline-block; padding:5px; font-size:14px; border:1px solid #389ae2; background:#389ae2; color:#FFF; cursor:pointer; text-decoration:none;}
a.button:hover {background:#6bbef6; color:#FFF; text-decoration:none;}

.block {display:block; width:100%; padding:0px; text-align:left; background:#F7F7FD; margin:0 0 20px 0;}
.block .name {display:block; padding:10px; font-weight:bold; color:#FFF; background:url(img/slide.png) right center no-repeat #3a4450; cursor:pointer;}
.block .znach {display:block; padding:10px;}

textarea.input {display:inline-block; padding:5px; border:none; border-bottom:1px solid #ccc; background:none; font-size:14px; width:100%;}
input.input {display:inline-block; padding:5px; border:none; border-bottom:1px solid #ccc; background:none; font-size:14px; width:100%;}
select.input {display:inline-block; padding:5px; border:none; border-bottom:1px solid #ccc; background:none; font-size:14px; width:100%;}


table.list {background:#F7F7FD;}
table.list tr th {padding:3px; background:#3a4450; color:#FFF; font-weight:normal;}
table.list tbody tr td {background:none; border-bottom:1px solid #CCC; padding:3px;}
table.list tbody tr:hover td {background:#f1f1f1;}
a.del {color:#9a1616;}

.news_img {background:no-repeat right center; cursor:pointer; position:relative; background-image:url(img/glaz.png);}
.news_img div {display:none;}
.news_img:hover div {display:block; position:absolute; z-index:2; top:100%; left:100%; background:#333;}
.news_img div img {border:2px solid #333;}

.drag {cursor:default; z-index:1;}
.dragActive {position:relative; background-color:#C9E5FA;}
.drag td:first-child {cursor: move;}
a.upar {display:block; width:25px; height:25px; background-image:url(img/upar.png); background-position:top;}
a.upar:hover {background-position:bottom;}
.myphoto {position:relative;}
.myphoto img {display:none;}
.myphoto:hover img {display:block; border:2px solid #666; position:absolute; left:20px; top:20px;}

ul.history {display:block; padding:0px; margin:0px; list-style:none; padding-bottom:30px}
ul.history li {display:block; padding:3px; margin:0px; text-align:left; list-style:none; background:#A9FFE3; font-size:14px;}
ul.history li.minus {background:#FFAFD7;}
ul.history li .date {width:120px; display:inline-block; text-align:left}
ul.history li .summa {width:120px; display:inline-block; text-align:right; margin-right:15px;}

ul.filter {display:block; padding:15px 0; list-style:none; margin:0;}
ul.filter:after {display:block; clear:both; float:none; content:'';}
ul.filter li {display:block; width:100%; margin:0px; padding:0px; padding-top:14px; margin-bottom:15px; float:left; list-style:none; position:relative;}
ul.filter li:nth-child(1) {width:25%; padding-right:15px;}
ul.filter li:nth-child(2) {width:25%; padding-right:15px;}
ul.filter li:nth-child(3) {width:25%; padding-right:15px;}
ul.filter li:nth-child(4) {width:25%;}
ul.filter li:nth-child(5) {width:48%; margin-right:4%;}
ul.filter li:nth-child(6) {width:48%;}
ul.filter li span {position:absolute; left:0px; top:0px; font-size:14px; color:#999;}
ul.filter li input, ul.filter li select {display:block; width:100%; border:none; background:none; border-bottom:1px solid #999; padding:3px 7px;}
ul.filter li input[type=submit] {display:inline-block; padding:7px 15px; background:#999; cursor:pointer; color:#fff; border:none;}

